@using Microsoft.AspNetCore.Mvc.Localization
<!DOCTYPE html>
@inject IViewLocalizer Localizer
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["Header"] - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
        <nav class="navbar navbar-expand-lg navbar-light  bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" href="#">@Localizer["Header"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["Contact"]</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">@Localizer["Register"]</a>
                </div>
            </div>

        </nav>
    </header>

    @await Html.PartialAsync("_SelectLanguagePartial")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MultiLingualDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
